/* Font */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.quick-sans {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  font-size: 10px;
}

/* Shared Style */
.display-flex {
  display: flex;
}

.orange {
  color: orange;
}

.sky-blue {
  color: skyblue;
}

.aqua {
  color: #05d4df;
}

.purple {
  color: #5d58ef;
}

.primary-btn {
    width: 197px;
    height: 50px;
    border: none;
    border-radius: 12px;
    background-color: orange;
    color: white;
    font-size: 2rem;
    font-weight: 600;
}
.black-bg {
    background: #000;
}


/* Header */
/* Styling of Nav Section */

nav {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  /* gap: 186px; */
  justify-content: space-between;
  align-items: center;
  margin: 20px 140px;
  /* max-width: 1160px; */
}

nav a {
  text-decoration: none;
}
nav span {
  font-size: 2rem;
}
nav li {
  list-style: none;
}

nav h2 > a {
  font-weight: 700;
  font-size: 3.2rem;
  color: black;
}

.logo-container {
  gap: 11px;
}

.feature-container .features {
  gap: 32px;
}

.fa-solid {
  display: none;
}


/* Banner Styling */

.banner{
    max-width: 1160px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.content{
    max-width: 640px;
    text-align: left;
}

.banner-title, .banner-title>span{
    font-size: 5.6rem;
    font-weight: 700;

}
.banner-description{
    font-size: 2rem;
    font-weight: 400;
}


/* Curriculum styling */

.curriculum{
    max-width: 1440px;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
    

}

.curriculum-title{
    font-size: 4.6rem;
    font-weight: 700;
    margin-top:60px ;
    margin-bottom: 80px;    
}

.curriculum-card{
    max-width: 1160px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-between;
    align-items: center;
    gap: 28px;
}

.c-card{
    
}

.c-card-1{
    width: 300px;
    height: 450px;
    background: linear-gradient(to bottom , rgba(222, 245, 255, 1) , rgba(255, 255, 255, 0));
    border: rgba(222, 245, 255, 1) solid 1px;
    border-radius: 19px;
    box-shadow: 0 0 28.3 0.94 rgba(0, 0, 0, 0.05);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 33px;
    padding: 30px;
}
.c-card-2{
    width: 300px;
    height: 450px;
    background: linear-gradient(to bottom , rgba(255, 244, 220, 1) , rgba(255, 255, 255, 0));
    border: rgba(255, 244, 220, 1) solid 1px;
    border-radius: 19px;
    box-shadow: 0 0 28.3 0.94 rgba(0, 0, 0, 0.05);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 33px;
    padding: 30px;
}
.c-card-3{
    width: 300px;
    height: 450px;
    background: linear-gradient(to bottom , rgba(238, 225, 255, 1) , rgba(255, 255, 255, 0));
    border: rgba(242, 232, 255, 1) solid 1px;
    border-radius: 19px;
    box-shadow: 0 0 28.3 0.94 rgba(0, 0, 0, 0.05);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 33px;
    padding: 30px;
}

.c-title{
    font-size: 2.45rem;
    font-weight: 700;
}

.description{
    font-size: 1.5em;
    font-weight: 500;
    color: #808080;
}

.curriculum a {
    text-decoration: none;
  }


  .angle {
    /* position: absolute; */
    display: flex;
    margin-top: 0 auto;
    align-items: center;
    align-items: middle;
    justify-content: center;
    margin-top: 80px;
    gap: 10px;
    /* margin-bottom: 60px; */

    /* left: 30px; */
  }

  .bracket {
    /* position: relative; */
    
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    border: 1px orange solid;
    border-radius: 50px;
    color: white;

    
  }


/* Stories Styling */

.stories {
    max-width: 1440px;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;

}

.story {
    justify-content: center;
    gap: 18px;
    max-width: 1160px;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 80px;
}

.story-card-1{
    display: flex;
    flex-direction: column;
    max-width: 530px;
    min-height: 600px;
    background-color: white;
    border: 1px white solid;
    border-radius: 18px;
}

.story-card-2{
    max-width: 530px;
    max-height: 600px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
}

.story-card {
    max-width: 290px;
    max-height: 300px;
    background-color: white;
    border: 0 white solid;
}

.story-card > .c-title{
    font-size: 1.5rem;
}








@media screen and (max-width: 576px) {
  .feature-container {
    display: none;
  }
  .primary-btn {
    display: none;
  }
  nav h2 > a {
    display: none;
  }
  .fa-solid,
  .fa-bars {
    display: block;
    size: 30px;
    text-align: center;
  }
  .container {
    margin: 12px 16px;
    height: 46px;
    
  }

.banner{
    max-width: 576px;
    flex-direction: column-reverse;
    justify-content: center;


}

.content{
    max-width: 576px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}
.content .primary-btn{
    display: block;
}

.banner img{
    width: 92%;
}
.curriculum{
    max-width: 576px;
}

.curriculum-card{
    grid-template-columns: repeat(1,1fr);
    justify-content: center;
    align-items: center;

 
}

.c-card{
    max-width: 390px;
}

.c-card-1, .c-card-2, .c-card-3 {
    width: 290px;
  
}






}
